In [1]:
import numpy as np
import pandas  as pd

In [7]:
np.random.seed(123)

n_sample= 1000

class_o_ratio = 0.9
n_class_0 =int(n_sample*class_o_ratio)
n_class_1 = n_sample-n_class_0

In [9]:
class_0 =pd.DataFrame({
    'featur_1': np.random.normal(loc=0,scale=1,size=n_class_0),
    'featur_2': np.random.normal(loc=0,scale=1,size=n_class_0),
    'target' : [0]*n_class_0
})
class_1 = pd.DataFrame({
    'featur_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'featur_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target' :[1]*n_class_1
})

In [27]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [15]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [23]:
df_minority = df[df['target']==1]
df_mejority = df[df['target']==0]

In [24]:
df_mejority.value_counts

<bound method DataFrame.value_counts of      featur_1  featur_2  target
0   -0.300232  0.667532       0
1   -0.632261  0.100458       0
2   -0.204317 -0.012610       0
3    0.213696  0.219907       0
4    1.033878  0.813623       0
..        ...       ...     ...
895  0.356445 -0.486628       0
896 -0.266376 -0.818430       0
897  0.804753 -1.138029       0
898 -1.750640  1.062592       0
899  1.539891 -0.831040       0

[900 rows x 3 columns]>

In [25]:
df_minority.head()

     featur_1  featur_2  target
900  1.632581  3.300921       1
901  2.575273  1.069348       1
902  2.439351  1.148687       1
903  1.271848  2.136584       1
904  1.111470  1.575746       1

In [26]:
# lets upscalate the dataset 
from sklearn.utils import resample

df_minority_upscale =resample(
    df_minority,
    replace=True, # sample with replacement 
    n_samples=len(df_mejority),
    random_state=42
)

In [28]:
df_minority_upscale['target'].value_counts()

1    900
Name: target, dtype: int64

In [30]:
df_upsampled = pd.concat([df_minority_upscale,df_mejority])

In [31]:
df_upsampled['target'].value_counts()

1    900
0    900
Name: target, dtype: int64

# downsampling

In [35]:
class_0 =pd.DataFrame({
    'featur_1': np.random.normal(loc=0,scale=1,size=n_class_0),
    'featur_2': np.random.normal(loc=0,scale=1,size=n_class_0),
    'target' : [0]*n_class_0
})
class_1 = pd.DataFrame({
    'featur_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'featur_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target' :[1]*n_class_1
})

In [37]:
df =pd.concat([class_0,class_1]).reset_index(drop=True)

In [40]:
df_mejority_downsampling = resample(
    df_mejority,
    replace=False, 
    n_samples=len(df_minority),
    random_state=43
)

In [42]:
df_mejority_downsampling['target'].value_counts()

0    100
Name: target, dtype: int64

In [43]:
df1 = pd.concat([df_minority,df_mejority_downsampling])

In [46]:
df1['target'].value_counts()

1    100
0    100
Name: target, dtype: int64