In [242]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [243]:
df =pd.read_excel('flight_price.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [244]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [245]:
df.head(1)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897

In [246]:
df['date']=df['Date_of_Journey'].str.split('/').str[0]
df['month']=df['Date_of_Journey'].str.split('/').str[1]
df['year']=df['Date_of_Journey'].str.split('/').str[2]


df['date']=df['date'].astype(int)
df['month']=df['month'].astype(int)
df['year']=df['year'].astype(int)


df.drop('Date_of_Journey',axis=1,inplace=True)
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019

In [247]:
df.drop('Route',axis=1,inplace=True)
df.head(1)

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019

In [248]:
df['Dep_hour']=df['Dep_Time'].str.split(':').str[0]
df['Dep_min']=df['Dep_Time'].str.split(':').str[1]

df['Dep_hour']=df['Dep_hour'].astype(int)
df['Dep_min']=df['Dep_min'].astype(int)

df.drop('Dep_Time',axis=1,inplace=True)
df.head(1)

,Airline,Source,Destination,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year,Dep_hour,Dep_min
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,22,20

In [249]:
df['Duration_hour']=df['Duration'].str.split(' ').str[0].str.split('h').str[0]
df['Duration_min']=df['Duration'].str.split(' ').str[1].str.split('m').str[0]

df['Duration_hour']=df['Duration_hour'].astype(int)
df['Duration_min']=df['Duration_min'].astype(int)

ValueError: invalid literal for int() with base 10: '5m'

In [ ]:
df.head(1)

,Airline,Source,Destination,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year,Dep_hour,Dep_min,Duration_hour,Duration_min
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019,22,20,2,50

In [ ]:
df.drop('Duration',axis=1,inplace=True)
df.head(1)

,Airline,Source,Destination,Arrival_Time,Total_Stops,Additional_Info,Price,date,month,year,Dep_hour,Dep_min,Duration_hour,Duration_min
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,non-stop,No info,3897,24,03,2019,22,20,2,50

In [ ]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [ ]:
df['Total_Stops'].mode()

0    1 stop
Name: Total_Stops, dtype: object

In [ ]:
df['Total_Stops']=df['Total_Stops'].map({'non-stop':0,'1 stop':1, '2 stops':2, '3 stops':3, '4 stops':4,np.nan:1})

In [ ]:
df.head(1)

,Airline,Source,Destination,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year,Dep_hour,Dep_min,Duration_hour,Duration_min
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,2h 50m,0,No info,3897,24,3,2019,22,20,2,50

In [ ]:
df['Total_Stops'].isna().sum()
df.head(1)

,Airline,Source,Destination,Arrival_Time,Total_Stops,Additional_Info,Price,date,month,year,Dep_hour,Dep_min,Duration_hour,Duration_min
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,0,No info,3897,24,03,2019,22,20,2,50

In [ ]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [ ]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [ ]:
df['Source'].value_counts()

Delhi       4537
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: Source, dtype: int64

In [ ]:
df.columns
# df['Airline'].value_counts()

Index(['Airline', 'Source', 'Destination', 'Arrival_Time', 'Total_Stops',
       'Additional_Info', 'Price', 'date', 'month', 'year', 'Dep_hour',
       'Dep_min', 'Duration_hour', 'Duration_min'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import OneHotEncoder

enc =OneHotEncoder()
encoded = pd.DataFrame(enc.fit_transform(df[['Destination','Source','Airline','Additional_Info']]).toarray(),columns=enc.get_feature_names_out())

In [ ]:
df = pd.concat([df,encoded],axis=1)
df.head()

,Airline,Source,Destination,Arrival_Time,Total_Stops,Additional_Info,Price,date,month,year,...,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,0,No info,3897,24,03,2019,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Air India,Kolkata,Banglore,13:15,2,No info,7662,1,05,2019,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Jet Airways,Delhi,Cochin,04:25 10 Jun,2,No info,13882,9,06,2019,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,IndiGo,Kolkata,Banglore,23:30,1,No info,6218,12,05,2019,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,IndiGo,Banglore,New Delhi,21:35,1,No info,13302,01,03,2019,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.info()

df['Additional_Info'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Total_Stops      10683 non-null  int64
 1   Additional_Info  10683 non-null  object
 2   Price            10683 non-null  int64
 3   date             10683 non-null  int32
 4   month            10683 non-null  int32
 5   year             10683 non-null  int32
 6   Dep_hour         10683 non-null  int32
 7   Dep_min          10683 non-null  int32
 8   Duration_hour    10683 non-null  object
 9   Duration_min     9651 non-null   object
dtypes: int32(5), int64(2), object(3)
memory usage: 626.1+ KB

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [252]:
# df.drop(['Airline','Source','Destination','Arrival_Time','Duration'],axis=1)
# droping_columns =['Airline','Source','Destination','Arrival_Time','Duration']
# for i in droping_columns:
#     df =df.drop(i,axis=1)
    
# df['Duration_hour']=df['Duration_hour'].astype(int)

In [250]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Arrival_Time     10683 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10682 non-null  object
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   date             10683 non-null  int32
 9   month            10683 non-null  int32
 10  year             10683 non-null  int32
 11  Dep_hour         10683 non-null  int32
 12  Dep_min          10683 non-null  int32
 13  Duration_hour    10683 non-null  object
 14  Duration_min     9651 non-null   object
dtypes: int32(5), int64(1), object(9)
memory usage: 1.0+ MB